/* BASE - Base styles, variables, mixins, normalize */
/* Font Colors */
/* Background Colors */
/* Website's Width */
/* ==========================================================================
   Normalize CSS
   ========================================================================== */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800);
html,
body {
  /*     overflow-x: hidden; */
}

body {
  font-size: 15px;
  background: #fdfdfd;
  font-family: "Open Sans", Tahoma, Arial, Sans-Serif;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #f6f6f2 url(../_img/page-bg-full-size.png) repeat 20px 40px;
  background-image: url("../img/page-bg-full-size.png");
  background-position: center top;
}

form {
  margin: 0;
}

a {
  color: #333;
  cursor: pointer;
}

a,
a:focus {
  outline: none;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #0076a1;
}

input,
input:focus {
  outline: none;
}

#container .container {
  max-width: 960px;
  height: auto;
}
#container .container #remove-top-dots {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 2px;
  background: #f6f6f2;
}

body,
h1,
h2,
h3,
h4,
p,
a {
  font-family: 'Open Sans', sans-serif;
}

/* MODULES - Individual site components */
/* Main Content - Contact */
.main-content {
  margin-top: 75px;
}
.main-content .maps {
  margin-bottom: 30px;
}
.main-content .maps iframe {
  border: 0;
  width: 100%;
  height: 450px;
}
.main-content .contact-details {
  background: #f6f6f2;
  margin-bottom: 45px;
}
.main-content .contact-info {
  color: #414141;
}
.main-content .contact-info .title {
  color: #ff5910;
  font-size: 17px;
  margin-top: 10px;
}
.main-content .contact-info .phone-number {
  margin-bottom: 0;
}
.main-content .contact-info .email-address a {
  text-decoration: underline;
}
.main-content .contact-info .email-address a:hover {
  text-decoration: none;
  color: inherit;
}
.main-content .contact-form .control-label {
  color: #ff5910;
  font-size: 17px;
  font-weight: normal;
  text-align: left;
}
.main-content .contact-form .form-control {
  border: 0;
  border-radius: 0;
  background: #e8e8e4;
  box-shadow: none;
}
.main-content .contact-form .form-control:focus {
  background: #efefeb;
  color: #000000;
}
.main-content .contact-form .btn-send {
  width: 100px;
  height: 40px;
  color: #f6f6f2;
  font-size: 17px;
  font-weight: normal;
  text-shadow: none;
  background: #333333;
  border-radius: 0;
  box-shadow: none;
  -webkit-transition: background-color .2s;
  -moz-transition: background-color .2s;
  -o-transition: background-color .2s;
  transition: background-color .2s;
}
.main-content .contact-form .btn-send:hover {
  background: #555555;
  color: #ffffff;
}

/* LAYOUTS - Page layout styles*/
/* ==========================================================================
   Responsive CSS Landscape Tablet
   ========================================================================== */
/* ==========================================================================
   Responsive CSS Portrait Tablet
   ========================================================================== */
/* ==========================================================================
   Responsive CSS Landscape Mobile
   ========================================================================== */
/* ==========================================================================
   Responsive CSS Portrait Mobile
   ========================================================================== */

/*# sourceMappingURL=contact.css.map */
