/* BASE - Base styles, variables, mixins, normalize */
/* Font Colors */
/* Background Colors */
/* Website's Width */
/* ==========================================================================
   Normalize CSS
   ========================================================================== */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800);
html,
body {
  /*     overflow-x: hidden; */
}

body {
  font-size: 15px;
  background: #fdfdfd;
  font-family: "Open Sans", Tahoma, Arial, Sans-Serif;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #f6f6f2 url(../_img/page-bg-full-size.png) repeat 20px 40px;
  background-image: url("../img/page-bg-full-size.png");
  background-position: center top;
}

form {
  margin: 0;
}

a {
  color: #333;
  cursor: pointer;
}

a,
a:focus {
  outline: none;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #0076a1;
}

input,
input:focus {
  outline: none;
}

#container .container {
  max-width: 960px;
  height: auto;
}
#container .container #remove-top-dots {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 2px;
  background: #f6f6f2;
}

body,
h1,
h2,
h3,
h4,
p,
a {
  font-family: 'Open Sans', sans-serif;
}

/* MODULES - Individual site components */
/* Main Content - Destination Detail */
.main-content {
  margin-top: 75px;
  margin-bottom: 45px;
}
.main-content .img-container img {
  width: 100%;
}
.main-content .title-container .intro {
  font-size: 18px;
  margin-bottom: 15px;
}
.main-content .middle {
  margin-top: 30px;
}

/* Destination Detail Typography */
/* Title's Text*/
.title-text {
  margin-top: 0;
  color: #333333;
  line-height: 1.4;
}
.title-text span {
  border-bottom: 1px solid #9b9b99;
}

/* Project's Hover */
.project-container {
  margin-top: 20px;
}

.project {
  margin-bottom: 30px;
}
.project:hover {
  z-index: 100 !important;
}
.project a {
  display: block;
  position: relative;
}
.project a:hover .project_image_overlay {
  opacity: 0.65;
}
.project a img {
  width: 100%;
}
.project a .project_image_overlay {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000000;
  opacity: 0;
  -webkit-transition: background-color .4s;
  -moz-transition: background-color .4s;
  -o-transition: background-color .4s;
  transition: background-color .4s;
  -webkit-transition: opacity .4s;
  -moz-transition: opacity .4s;
  -o-transition: opacity .4s;
  transition: opacity .4s;
}
.project a .project-caption {
  position: absolute;
  bottom: 0;
  padding-left: 15px;
  -webkit-transform: translate3D(0px, 0px, 0px);
  -moz-transform: translate3D(0px, 0px, 0px);
  -o-transform: translate3D(0px, 0px, 0px);
  transform: translate3D(0px, 0px, 0px);
}
.project a .project-caption .project-caption-normal {
  padding-left: 20px;
  color: #ffffff;
  font-size: 14px;
  background-image: url(../img/white-spot.png);
  background-repeat: no-repeat;
  /* -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg); */
}

/* LAYOUTS - Page layout styles*/
/* ==========================================================================
   Responsive CSS Landscape Tablet
   ========================================================================== */
/* ==========================================================================
   Responsive CSS Portrait Tablet
   ========================================================================== */
/* ==========================================================================
   Responsive CSS Landscape Mobile
   ========================================================================== */
/* ==========================================================================
   Responsive CSS Portrait Mobile
   ========================================================================== */

/*# sourceMappingURL=destination-detail.css.map */
