/* BASE - Base styles, variables, mixins, normalize */
/* Font Colors */
/* Background Colors */
/* Website's Width */
/* ==========================================================================
	 Normalize CSS
	 ========================================================================== */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800);
html,
body {
	/*     overflow-x: hidden; */
}

body {
	font-size: 15px;
	background: #fdfdfd;
	font-family: "Open Sans", Tahoma, Arial, Sans-Serif;
	height: 100%;
	margin: 0;
	padding: 0;
	background: #f6f6f2 url(../_img/page-bg-full-size.png) repeat 20px 40px;
	background-image: url("../img/page-bg-full-size.png");
	background-position: center top;
}

form {
	margin: 0;
}

a {
	color: #333;
	cursor: pointer;
}

a,
a:focus {
	outline: none;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	color: #0076a1;
}

input,
input:focus {
	outline: none;
}

#container .container {
	max-width: 960px;
	height: auto;
}
#container .container #remove-top-dots {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	height: 2px;
	background: #f6f6f2;
}

body,
h1,
h2,
h3,
h4,
p,
a {
	font-family: 'Open Sans', sans-serif;
}

/* MODULES - Individual site components */
/* Main Content - Home */
.main-content {
	margin-top: 75px;
}

.home .project {
	position: relative;
}
.home .project .show-project {
	height: 100%;
	position: absolute;
}

/* project-1 */
.home .project-1 {
	min-height: 400px;
}
.home .project-1 .show-project {
	width: 360px;
	right: 0;
}
.home .project-1 .box-title {
	-webkit-transform: translate(-50%, 50%);
		 -moz-transform: translate(-50%, 50%);
			-ms-transform: translate(-50%, 50%);
					transform: translate(-50%, 50%);
}

/* project-2 */
.home .row > .project-2 {
	margin-top: -160px;
}
.home .project-2 {
	min-height: 360px;
}
.home .project-2 .show-project {
	width: 360px;
	left: 70px;
	z-index: 30;
}
.home .project-2 .box-title {
	-webkit-transform: translate(-70px, 80%);
		 -moz-transform: translate(-70px, 80%);
			-ms-transform: translate(-70px, 80%);
					transform: translate(-70px, 80%);
}
.home .project-2 .box-title2 {
	top: 0;
	-webkit-transform: translate(50px, -80%);
		 -moz-transform: translate(50px, -80%);
			-ms-transform: translate(50px, -80%);
					transform: translate(50px, -80%);
}
.home .project-2 .box-title2 .box-text-normal {
	bottom: inherit;
	top: 10px;
}

/* project-3 */
.home .row > .project-3 {
	margin-top: -55px;
}
.home .project-3 {
	min-height: 400px;
}
.home .project-3 .show-project {
	width: 600px;
	right: 70px;
	z-index: 25;
}
.home .project-3 .wrap-project .project-caption h3 {
	width: 50%;
}
.home .project-3 .box-title {
	left: inherit;
	right: 0;
	-webkit-transform: translate(70px, 50%);
		 -moz-transform: translate(70px, 50%);
			-ms-transform: translate(70px, 50%);
					transform: translate(70px, 50%);
}

/* project-4 */
.home .row > .project-4 {
	margin-top: -105px;
}
.home .project-4 {
	min-height: 320px;
}
.home .project-4 .show-project {
	width: 520px;
	left: 0px;
	z-index: 25;
}
.home .project-4 .wrap-project .project-caption h3 {
	width: 60%;
}
.home .project-4 .box-title {
	left: 80%;
	-webkit-transform: translate(0px, 20%);
		 -moz-transform: translate(0px, 20%);
			-ms-transform: translate(0px, 20%);
					transform: translate(0px, 20%);
}

.home .wrap-project {
	position: absolute;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

/* Project's Hover */
.home .box-title {
	position: absolute;
	display: block;
	height: 200px;
	width: 200px;
	color: #ff5c14;
	font-size: 16px;
	text-transform: capitalize;
	border: 2px solid #ff5c14;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: background-color .4s;
	-moz-transition: background-color .4s;
	-o-transition: background-color .4s;
	transition: background-color .4s;
	z-index: 20;
	left: 0px;
	bottom: 0px;
}
.home .box-title .box-text-normal {
	position: absolute;
	bottom: 10px;
	left: 20px;
}
.home .box-title .box-text-rotate {
	position: absolute;
	bottom: 120px;
	left: -20px;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
}
.home .box-title:hover {
	background: rgba(246, 246, 242, 1);
	text-decoration: none;
	color: #ff5c14;
	z-index: 100;
}
.home .wrap-project:hover {
	z-index: 100;
}
.home .wrap-project:hover .project_image_overlay {
	opacity: 0.65;
}

.home .wrap-project .project_image_overlay {
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #000000;
	opacity: 0;
	-webkit-transition: background-color .4s;
	-moz-transition: background-color .4s;
	-o-transition: background-color .4s;
	transition: background-color .4s;
	-webkit-transition: opacity .4s;
	-moz-transition: opacity .4s;
	-o-transition: opacity .4s;
	transition: opacity .4s;
}
.home .project-caption h3 {
	padding-left: 20px;
	padding-right: 15px;
	margin-left: 15px;
	margin: 0px;
}
.home .wrap-project .project-caption {
	width: 100%;
	height: 100%;
	-webkit-transform: translate3D(0px, 0px, 0px);
	-moz-transform: translate3D(0px, 0px, 0px);
	-o-transform: translate3D(0px, 0px, 0px);
	transform: translate3D(0px, 0px, 0px);
}
.home .wrap-project .project-caption .project-caption-rotate {
	top: 20px;
	left: 95%;
	width: 100%;
	height: 100%;	
	position: absolute;
	color: #ffffff;
	font-size: 14px;
	background-image: url(../img/white-spot.png);
	background-repeat: no-repeat;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform-origin: 0 0;
}

/* ==========================================================================
	 Responsive CSS Landscape Tablet
	 ========================================================================== */
@media only screen and (min-width: 960px) and (max-width: 1240px) {

}


/* ==========================================================================
	 Responsive CSS Portrait Tablet
	 ========================================================================== */
@media only screen and (min-width: 768px) and (max-width: 959px) {

}


/* ==========================================================================
	 Responsive CSS Landscape Mobile
	 ========================================================================== */
@media only screen and (min-width: 480px) and (max-width: 767px) {

}


/* ==========================================================================
	 Responsive CSS Portrait Mobile
	 ========================================================================== */
@media only screen and (min-width: 100px) and (max-width: 479px) {

}

/*# sourceMappingURL=home.css.map */
