/* Destination's Hover */

.destination {
    margin-bottom: 30px;
    &:hover {
        z-index: 100 !important;
    }
    a:first-child {
        display: block;
        position: relative;
        &:hover .destination_image_overlay {
            opacity: 0.65;
        }
        img {
            width: 100%;
        }
        .destination_image_overlay {
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: #000000;
            opacity: 0;
            -webkit-transition: background-color .4s;
            -moz-transition: background-color .4s;
            -o-transition: background-color .4s;
            transition: background-color .4s;
            -webkit-transition: opacity .4s;
            -moz-transition: opacity .4s;
            -o-transition: opacity .4s;
            transition: opacity .4s;
        }
    }
}
